<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Who we are | About us</title>
    <link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
  </head>
  <body>
    
    <!-- Start Top Bar -->
<div class="top-bar">
<div class="row">
<div class="top-bar-left">
<ul class="dropdown menu" data-dropdown-menu="" role="menubar" data-dropdownmenu="y8akpt-dropdownmenu">
<li class="menu-text" role="menuitem" tabindex="0">Menu</li>
<li class="has-submenu is-dropdown-submenu-parent is-down-arrow" role="menuitem" tabindex="0" title="One" aria-haspopup="true">
<a tabindex="-1">Qplan!</a>
<ul class="submenu menu vertical is-dropdown-submenu first-sub" data-submenu="" aria-hidden="true" tabindex="-1" role="menu">
<li role="menuitem" class="is-submenu-item is-dropdown-submenu-item" tabindex="0"><a href="contact.html" tabindex="-1">Contact</a></li>
<li role="menuitem" class="is-submenu-item is-dropdown-submenu-item" tabindex="0"><a href="about.html" tabindex="-1">Who we are</a></li>
</ul>
</li>
<li role="menuitem" tabindex="0"><a href="plans.html" tabindex="-1">Plans</a></li>
<li role="menuitem" tabindex="0"><a href="#" tabindex="-1">Companies</a></li>
<li role="menuitem" class="is-submenu-item is-dropdown-submenu-item" tabindex="0"><a href="home.html" tabindex="-1">Home</a></li>
</ul>
</div>
<div class="top-bar-right">
<ul class="menu">
<li><input type="search" placeholder="Search"></li>
<li><button type="button" class="button">Search</button></li>
</ul>
</div>
</div>
</div>
    <!-- End Top Bar -->

    <hr>
    <div class="row">
      <div class="medium-6 columns medium-push-6">
        <img class="thumbnail" src="http://placehold.it/750x350">
      </div>
      <div class="medium-6 columns medium-pull-6">
        <h2>Our application, our selves.</h2>
        <p>Qplan! was created to foster knowledge about others, making a greater world. We want to </p>
      </div>
    </div>

    <div class="row">
      <div class="medium-4 columns">
        <h3>Young</h3>
        <p>We are a team of young people, encouraged to change society for the better. Our application is aimed to help youngsters from youngsters.</p>
      </div>
      <div class="medium-4 columns">
        <h3>Plans</h3>
        <p>Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna.</p>
      </div>
      <div class="medium-4 columns">
        <h3>Companies</h3>
        <p>Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna.</p>
      </div>
    </div>

    <hr>

    <div class="row column">
      <ul class="vertical medium-horizontal menu expanded text-center">
        <li><a href="#"><div class="stat">28</div><span>Websites</span></a></li>
        <li><a href="#"><div class="stat">43</div><span>Apps</span></a></li>
        <li><a href="#"><div class="stat">95</div><span>Ads</span></a></li>
        <li><a href="#"><div class="stat">59</div><span>Cakes</span></a></li>
        <li><a href="#"><div class="stat">18</div><span>Logos</span></a></li>
      </ul>
    </div>

    <hr>

    <div class="row column">
      <h3>Our Recent Work</h3>
    </div>

    <div class="row medium-up-3 large-up-4">
      <div class="column">
        <img class="thumbnail" src="http://placehold.it/550x550">
      </div>
      <div class="column">
        <img class="thumbnail" src="http://placehold.it/550x550">
      </div>
      <div class="column">
        <img class="thumbnail" src="http://placehold.it/550x550">
      </div>
      <div class="column">
        <img class="thumbnail" src="http://placehold.it/550x550">
      </div>
      <div class="column">
        <img class="thumbnail" src="http://placehold.it/550x550">
      </div>
      <div class="column">
        <img class="thumbnail" src="http://placehold.it/550x550">
      </div>
      <div class="column">
        <img class="thumbnail" src="http://placehold.it/550x550">
      </div>
      <div class="column">
        <img class="thumbnail" src="http://placehold.it/550x550">
      </div>
      <div class="column">
        <img class="thumbnail" src="http://placehold.it/550x550">
      </div>
      <div class="column">
        <img class="thumbnail" src="http://placehold.it/550x550">
      </div>
      <div class="column">
        <img class="thumbnail" src="http://placehold.it/550x550">
      </div>
      <div class="column">
        <img class="thumbnail" src="http://placehold.it/550x550">
      </div>
    </div>

    <hr>


    
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>


    