<h1>Home#contact</h1>
<p>Find me in app/layouts/contact.html.erb</p>

<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>Qplan! | Contact</title>
<link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
</head>

<div class="top-bar">
<div class="row">
<div class="top-bar-left">
<ul class="dropdown menu" data-dropdown-menu="" role="menubar" data-dropdownmenu="y8akpt-dropdownmenu">
<li class="menu-text" role="menuitem" tabindex="0">Menu</li>
<li><a href="agency.html">Home</a></li>
<li class="has-submenu is-dropdown-submenu-parent is-down-arrow" role="menuitem" tabindex="0" title="One" aria-haspopup="true">
<a tabindex="-1">Qplan!</a>
<ul class="submenu menu vertical is-dropdown-submenu first-sub" data-submenu="" aria-hidden="true" tabindex="-1" role="menu">
<li role="menuitem" class="is-submenu-item is-dropdown-submenu-item" tabindex="0"><a href="contact.html" tabindex="-1">Contact</a></li>
<li role="menuitem" class="is-submenu-item is-dropdown-submenu-item" tabindex="0"><a href="#" tabindex="-1">Who we are</a></li>
</ul>
</li>
<li role="menuitem" tabindex="0"><a href="plans.html" tabindex="-1">Plans</a></li>
<li role="menuitem" tabindex="0"><a href="#" tabindex="-1">Companies</a></li>
</ul>
</div>
<div class="top-bar-right">
<ul class="menu">
<li><input type="search" placeholder="Search"></li>
<li><button type="button" class="button">Search</button></li>
</ul>
</div>
</div>
</div>

<body>
<hr style="border: 3px solid transparent;">
<div class="row">
<div class="medium-6 columns">
<h3>Contact us</h3>
<p>Have any request, petition or question? Send us an email. We're looking forward to hearing from you!</p>
<ul class="menu">
<li><a href="#">Facebook</a></li>
<li><a href="#">Twitter</a></li>
<li><a href="#">Instagram</a></li>
<li><a href="#">Snapchat</a></li>
</ul>
</div>
<div class="medium-6 columns">
<label>Name
<input type="text" placeholder="Name">
</label>
<label>Email
<input type="text" placeholder="Email">
</label>
<label>
Message
<textarea placeholder="Say what you need"></textarea>
</label>

<button class="button expanded">Submit</a>
</div>
</div>
</div>
</div>
</div>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
<script>
      $(document).foundation();
    </script>
</body>
</html>



