<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>Qplan! | Plans</title>
<link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
</head>
<body>
 

<div class="top-bar">
<div class="row">
<div class="top-bar-left">
<ul class="dropdown menu" data-dropdown-menu="" role="menubar" data-dropdownmenu="y8akpt-dropdownmenu">
<li class="menu-text" role="menuitem" tabindex="0">Menu</li>
<li><a href="agency.html">Home</a></li>
<li class="has-submenu is-dropdown-submenu-parent is-down-arrow" role="menuitem" tabindex="0" title="One" aria-haspopup="true">
<a tabindex="-1">Qplan!</a>
<ul class="submenu menu vertical is-dropdown-submenu first-sub" data-submenu="" aria-hidden="true" tabindex="-1" role="menu" style="">
<li role="menuitem" class="is-submenu-item is-dropdown-submenu-item" tabindex="0"><a href="contact.html" tabindex="-1">Contact</a></li>
<li role="menuitem" class="is-submenu-item is-dropdown-submenu-item" tabindex="0"><a href="#" tabindex="-1">Who we are</a></li>
</ul>
</li>
<li role="menuitem" tabindex="0"><a href="#" tabindex="-1">Companies</a></li>
</ul>
</div>
<div class="top-bar-right">
<ul class="menu">
<li><input type="search" placeholder="Search"></li>
<li><button type="button" class="button">Search</button></li>
</ul>
</div>
</div>
</div>

 
<div class="callout large primary">
<div class="row column text-center">
<h1>Our recent plans</h1>
</div>
</div>
<div class="row" id="content">
<div class="medium-8 columns">
<div class="blog-post">
<h3>Yoga at Retiro <small>9/12/2015</small></h3>
<img class="thumbnail" src="img/p1.jpg">
<p>Next Sunday, 24 January, yoga at the Retiro! The schedule is from 4pm to 6pm. Completely free and a maximum of 13 people to join us! The meeting point will be at the exist of the Retiro metro station at 15:45.</p>
<div class="callout">
<ul class="menu simple">
<li><a href="#">Author: Mike Mikers</a></li>
<li><a href="#">Comments: 12</a></li>
</ul>
</div>
</div>
<div class="blog-post">
<h3>Izal in Madrid <small>1/12/2015</small></h3>
<img class="thumbnail" src="img/p2.jpg">
<p>Izal on live next 23 January at PRICE venue, Madrid. Only pre-requisit is that everyone has their ticket with them at the time of the meeting. But above all, be ready to enjoy!</p>
<div class="callout">
<ul class="menu simple">
<li><a href="#">Author: Juan Pérez</a></li>
<li><a href="#">Comments: 1</a></li>
</ul>
</div>
</div>
<div class="blog-post">
<h3>Cooking Mediterranean <small>27/11/2015</small></h3>
<img class="thumbnail" src="img/p3.jpg">
<p>Mediterranean cuisine classes to learn how to cook the most traditional recipes of Spanish, French and Italian cuisine! The course will take place on 8 January, at 5pm. The duration will be of 3 hours. Price: 25 euros. Two persons maximum. Meeting point: Serrano metro station.</p>
<div class="callout">
<ul class="menu simple">
<li><a href="#">Author: Elisa Fuentes</a></li>
<li><a href="#">Comments: 2</a></li>
</ul>
</div>
</div>
<div class="blog-post">
<h3>Let's try Kabuki! <small>8/11/2015</small></h3>
<img class="thumbnail" src="img/p4.jpg">
<p>Accompany needed to have dinner at restaurant Kabuki in Madrid, next 24 December. Delicious Japanese food to celebrate Christmas! Maximum of 8 people. Meeting point: restaurant entry.</p>
<div class="callout">
<ul class="menu simple">
<li><a href="#">Author: Jesse Hudson</a></li>
<li><a href="#">Comments: 4</a></li>
</ul>
</div>
</div>
</div>
<div class="medium-3 columns" data-sticky-container>
<div class="sticky" data-sticky data-anchor="content">
<h4>Plan category</h4>
<ul>
<li><a href="#">Yoga</a></li>
<li><a href="#">Concerts</a></li>
<li><a href="#">Cooking classes</a></li>
<li><a href="#">Going out</a></li>
</ul>
<h4>Top planners</h4>
<ul>
<li><a href="#">Mike Mikers</a></li>
<li><a href="#">Julián Sánchez</a></li>
<li><a href="#">Susan Sanders</a></li>
<li><a href="#">Julia Andrés</a></li>
</ul>
</div>
</div>
</div>
<div class="row column">
<ul class="pagination" role="navigation" aria-label="Pagination">
<li class="disabled">Previous</li>
<li class="current"><span class="show-for-sr">You're on page</span> 1</li>
<li><a href="#" aria-label="Page 2">2</a></li>
<li><a href="#" aria-label="Page 3">3</a></li>
<li><a href="#" aria-label="Page 4">4</a></li>
<li class="ellipsis"></li>
<li><a href="#" aria-label="Page 8">8</a></li>
<li><a href="#" aria-label="Next page">Next</a></li>
</ul>
</div>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
<script>
      $(document).foundation();
    </script>
</body>
</html>
